// Archivo de estilos de la pantalla de chat

.chat-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #131324;
  .container {
    height: 85vh;
    width: 85vw;
    background-color: #00000076;
    display: grid;
    grid-template-columns: 25% 75%;

    .contacts-container {
      display: grid;
      grid-template-rows: 10% 75% 15%;
      overflow: hidden;
      background-color: #080420;
      .brand {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        img {
          height: 2rem;
        }
        h3 {
          color: white;
          text-transform: uppercase;
        }
      }
      .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        gap: 0.8rem;
        .null-contacts {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
        }
        &::-webkit-scrollbar {
          width: 0.2rem;
          &-thumb {
            background-color: #ffffff39;
            width: 0.1rem;
            border-radius: 1rem;
          }
        }
        .contact {
          background-color: #ffffff34;
          min-height: 5rem;
          cursor: pointer;
          width: 90%;
          border-radius: 0.2rem;
          padding: 0.4rem;
          display: flex;
          gap: 1rem;
          align-items: center;
          transition: 0.5s ease-in-out;
          .avatar {
            img {
              height: 3rem;
            }
          }
          .username {
            h3 {
              color: white;
            }
          }
        }
        .selected {
          background-color: #9a86f3;
        }
      }
      .current-user {
        background-color: #0d0d30;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .avatar {
          img {
            height: 4rem;
            max-inline-size: 100%;
          }
        }
        .username {
          display: flex;
          justify-content: center;
          align-items: center;
          h2 {
            color: #ffffff;
          }
        }

        .logout-container {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.2rem;
          border-radius: 0.5rem;
          background-color: #9a86f3;
          cursor: pointer;
          svg {
            font-size: 1.3rem;
            color: #ebe7ff;
          }
        }

        @media screen and (min-width: 720px) and (max-width: 1080px) {
          gap: 0.5rem;
          .username {
            h2 {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .welcome-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #ffffff;
      img {
        height: 20rem;
      }
      span {
        color: #997af0;
      }
    }

    .chat-container-composite {
      display: grid;
      grid-template-rows: 10% 80% 10%;
      gap: 0.1rem;
      overflow: hidden;
      @media screen and (min-width: 720px) and (max-width: 1080px) {
        grid-template-rows: 15% 70% 15%;
      }
      .chat-header {
        display: flex;
        height: 60px;
        justify-content: space-between;
        background-color: #ffffff39;
        border-radius: 1.5rem;
        align-items: center;
        padding: 1rem;
        margin: 25px;
        .user-details {
          display: flex;
          align-items: center;
          gap: 1rem;
          .avatar {
            img {
              height: 3rem;
            }
          }
          .username {
            h1 {
              color: #ffffff;
            }
          }
        }
      }
    }

    @media screen and (min-width: 720px) and (max-width: 1080px) {
      grid-template-columns: 35% 65%;
    }
  }

  .messages-container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0.2rem;
      &-thumb {
        background-color: #ffffff39;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }
    .message {
      display: flex;
      align-items: center;
      .content {
        max-width: 40%;
        overflow-wrap: break-word;
        padding: 1rem;
        font-size: 1.1rem;
        border-radius: 1rem;
        color: #d1d1d1;
        @media screen and (min-width: 720px) and (max-width: 1080px) {
          max-width: 70%;
        }
      }
    }
    .sended {
      justify-content: flex-end;
      .content {
        color: #ffffff;
        background-color: #4f04ff21;
      }
    }
    .recieved {
      justify-content: flex-start;
      .content {
        color: #ffffff;
        background-color: #9900ff20;
      }
    }
  }

  .chatInput-container {
    display: grid;
    align-items: center;
    grid-template-columns: 5% 90% 5%;
    padding: 0 2rem;
    @media screen and (min-width: 720px) and (max-width: 1080px) {
      padding: 0 1rem;
      gap: 1rem;
    }
    .button-container {
      display: flex;
      align-items: center;
      color: white;
      gap: 1rem;
      .emoji {
        position: relative;
        svg {
          font-size: 1.5rem;
          color: #ffff00c8;
          cursor: pointer;
        }
        .emoji-picker-react {
          position: absolute;
          top: -300px;
          height: 275px;
          box-shadow: 0px 0px 0px 0px;
        }
      }
    }
    .input-container {
      width: 100%;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      background-color: #ffffff34;
      input {
        width: 90%;
        height: 60%;
        background-color: transparent;
        color: white;
        border: none;
        padding-left: 1rem;
        font-size: 1.2rem;
        &::selection {
          background-color: #9a86f3;
        }
        &:focus {
          outline: none;
        }
      }
      button {
        padding: 0.3rem 2rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9a86f3;
        border: none;
        @media screen and (min-width: 720px) and (max-width: 1080px) {
          padding: 0.3rem 1rem;
          svg {
            font-size: 1rem;
          }
        }
        svg {
          font-size: 2rem;
          color: white;
        }
      }
    }
  }
}
